Django==5.1.2
gunicorn==20.1.0
psycopg2-binary==2.9.6        # Uncomment this if you use PostgreSQL
dj-database-url==1.0.0
whitenoise==6.5.0
requests==2.32.3              # Optional, only if you're making HTTP requests
